<h2>Сортировка</h2>
<form class='form' [formGroup]='form' (ngSubmit)='handleSubmit()'>
  <app-form-field>
    <app-label>Поле сортировки</app-label>
    <app-select
      formControlName='field'
      [options]='sortingFields'
      placeholder='Выберите значение...'
    ></app-select>
  </app-form-field>
  <app-form-field>
    <app-label>Тип сортировки</app-label>
    <app-select
      formControlName='type'
      [options]='sortingTypes'
      placeholder='Выберите значение...'
    ></app-select>
  </app-form-field>
  <button [disabled]='form.invalid'>Применить</button>
</form>
