:host {
  height: 100%;
  padding: 4rem;
  display: flex;
  gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filters {
  width: 32rem;
  background: var(--color-7);
  padding: 2rem 1.6rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__title {
    font-size: 2.4rem;
    color: var(--color-1);
  }
}

.content {
  background: var(--color-7);
  padding: 2rem 1.6rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-grow: 1;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  font-size: 1.6rem;
  color: var(--color-4);
  text-align: center;
  background: var(--color-1);
  border-bottom: .2rem solid var(--color-5);
  border-left: .2rem solid var(--color-5);

  &.right {
    border-right: .2rem solid var(--color-5);
  }

  &.header {
    font-weight: 700;
    color: var(--color-1);
    background: var(--color-6);
    padding: .8rem;
    border-top: .2rem solid var(--color-5);
  }
}

h2 {
  font-size: 2.4rem;
  color: var(--color-1);
}

.pagination {
  margin: 0 auto;
}
