@use 'styles/fonts';
@use 'styles/helpers';
@use 'styles/variables';
@use 'styles/functions';

:root {
  --font-family: #{variables.$font-family};
  --html-font-size: #{variables.$html-font-size};
  --color-1: #{variables.$color-1};
  --color-2: #{variables.$color-2};
  --color-3: #{variables.$color-3};
  --color-4: #{variables.$color-4};
  --color-5: #{variables.$color-5};
  --color-6: #{variables.$color-6};
  --color-7: #{variables.$color-7};
  --color-8: #{variables.$color-8};
}

html {
  font-family: var(--primary-font-family);
  font-size: var(--html-font-size);
}

* {
  font-family: var(--font-family);
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 2.4rem;
  display: inline-block;
}

body {
  min-height: 100vh;
  background: var(--color-8);
  background-size: cover;
}
